/*
		By default, CSS is locally scoped to the component,
		and any unused styles are dead-code-eliminated.
		In this page, Svelte can't know which elements are
		going to appear inside the {{{post.html}}} block,
		so we have to use the :global(...) modifier to target
		all elements inside .content
	*/
.content :global(h2) {
  font-size: 1.4em;
  font-weight: 500;
}

.content :global(pre) {
  padding: 0.5em;
  overflow-x: auto;
  border-radius: 2px;
  background-color: #f9f9f9;
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.05);
}

.content :global(pre) :global(code) {
  padding: 0;
  background-color: transparent;
}

.content :global(ul) {
  line-height: 1.5;
}

.content :global(li) {
  margin: 0 0 0.5em 0;
}
